<div class="row px-5 fixed-top shadow-lg bg-white">
  <div class="col-3">
    <h2>logo</h2>
  </div>
  <div class="col-7">
    <nav>
      <div class="container">
        <ul class="menu-main">
          <li>
            <a href="">Tab1 <i class="fas fa-angle-down"></i></a>
            <div class="menu-sub">
              <div class="menu-col-1">
                <h3>Category</h3>
                <ul>
                  <li><a href="">Link 01</a></li>
                </ul>
              </div>
              <div class="menu-col-1">
                <h3>Category</h3>
                <ul>
                  <li><a href="">Link 01</a></li>
                </ul>
              </div>
            </div>
          </li>

          <li> <a href="">Tab2 <i class="fas fa-angle-down"></i></a>
            <div class="menu-sub">
              <div class="menu-col-1">
                <h3>Category</h3>
                <ul>
                  <li><a href="">Link 01</a></li>
                  <li><a href="">Link 02</a></li>
                  <li><a href="">Link 03</a></li>
                </ul>
              </div>
            </div>
          </li>
          
          <li> <a href="">Tab3 <i class="fas fa-angle-down"></i></a>
            <div class="menu-sub">
              <div class="menu-col-1">
                <h3>Category</h3>
                <ul>
                  <li><a href="">Link 01</a></li>
                  <li><a href="">Link 02</a></li>
                  <li><a href="">Link 03</a></li>
                </ul>
              </div>

              <div class="menu-col-1">
                <h3>Category</h3>
                <ul>
                  <li><a href="">Link 01</a></li>
                  <li><a href="">Link 02</a></li>
                  <li><a href="">Link 03</a></li>
                </ul>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </nav>
  </div>
  <div class="col-2">
    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
  </div>
</div>